@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: rgb(2, 33, 133);
  border: 2px solid steelblue;
  color: rgb(136, 220, 248);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  position: relative;
  margin: 0 auto;
  
  overflow: auto;
  text-align: center;
  color: black;
  text-shadow: 1px 1px white;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


/* .background{
  
  background-image: url("https://i.pinimg.com/1200x/89/10/14/891014b8cad4c34a4bd28e4dec91356d.jpg");
  
  background-repeat: no-repeat;
  background-position: top center ;
  opacity: .6;
  
 padding-top: 100px;
 padding-bottom: 300px;
  
} */

.hero {
  position: relative; 
  height:100vmin;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 10vh;
}

.hero::before {    
    content: "";
    background-image: url('https://i.pinimg.com/1200x/89/10/14/891014b8cad4c34a4bd28e4dec91356d.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;

    /* background-repeat: no-repeat;
    background-position: top center ; */
    opacity: .6;
  
    /* padding-top: 100px;
    padding-bottom: 300px; */
}

h1 {
position: relative;
color:black;  
font-size: 4rem;
line-height: 0.9;
text-align: center;
}
