@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: rgb(2, 33, 133);
  border: 2px solid steelblue;
  color: rgb(136, 220, 248);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  position: relative;
  margin: 0 auto;

  overflow: auto;
  text-align: left;
  color: black;
  
}
.table-container {
 position:relative;
  background-color: white;
  text-indent: 3px;
  outline: auto;
  overflow: auto;
  text-align: left;
  color: black;
  
  
  
}
.table-center{
  margin-left: auto;
  margin-right: auto;
  
}

.form {
  width: 100%;
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  padding-left: 2rem;
  
}
.update-form {
  width: 25%;
  align-items: right;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;
  /* gap: 1rem; */
  padding-left: 2rem;
  
}

h1{
  padding-bottom: 2rem;
}

.bottom-space {
  padding-bottom: 5rem;
}
.top-space{
  padding-top: 5rem;
}



.hero {
  position: relative; 
  height:100vmin;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 10vh;
  
}

.hero::before {    
    content: "";
    background-image: url('https://i.pinimg.com/1200x/89/10/14/891014b8cad4c34a4bd28e4dec91356d.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

h1 {
position: relative;
color:black;  
font-size: 4rem;
line-height: 0.9;
text-align: center;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu main main right right'
    'menu menu main main right right'
    'menu menu main main right right';
  gap: 10px;
 
  padding: 10px;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
h2{
  position: relative;
color:black;  
font-size: 2rem;
line-height: 2;
text-align: center;
}